<div class="relative flex flex-col justify-center items-center mx-auto w-full">
  <h1 class="text-3xl font-semibold text-center text-gray-700">検索する</h1>
  <%= render 'shared/dropdown_search_form' %>
  <%= render 'shared/keyword_search_form' %>
  <div class="text-center w-full lg:flex-row">
    <div class="divider divider-accent"></div>
    <button class="btn btn-active btn-wide">
      <%= link_to '全ての施設を見る', facilities_path, class: 'text-semibold' %>
    </button>
  </div>
</div>