<div class="flex flex-col justify-center items-center mx-auto w-full mb-14">
  <div class="top-wrapper">
    <div class="transpaernt">
      <div class="py-52">
        <h1 class="text-4xl font-semibold text-center text-white">Find Suomi</h1>
      </div>
    </div>
  </div>
  <div class="my-9">
    <p class="text-base text-gray text-center antialiased tracking-wide">日本にいながらフィンランドを感じることができるお店・施設が見つかる</p>
  </div>
  <div class="mt-9">
    <p class="font-semibold text-2xl text-gray text-center">検索する</p>
  </div>
  <%= render 'shared/dropdown_search_form' %>
  <%= render 'shared/keyword_search_form' %>
</div>