<div class="top-wrapper">
  <div class="top-inner-text">
    <h1>Find Suomi</h1>
    <%= render 'shared/dropdown_search_form' %>
    <%= render 'shared/keyword_search_form' %>
    <%= link_to '施設一覧', facilities_path %>
  </div>
</div>