<div class="flex flex-col justify-center items-center mx-auto w-full mb-14">
  <div class="top-wrapper">
    <h1 class="text-4xl font-semibold text-center text-white">Find Suomi</h1>
  </div>
  <div class="my-9">
    <p class="text-base text-gray-950 text-center antialiased tracking-wide sm:mx-2">
      日本にいながらフィンランドを感じることができる<span class="inline-block">お店・施設が見つかる</span></p>
  </div>
  <div class="mt-9">
    <p class="font-semibold text-2xl text-gray text-center">検索する</p>
  </div>
  <%= render 'shared/dropdown_search_form' %>
  <%= render 'shared/keyword_search_form' %>
</div>