<div class="relative flex flex-col justify-center items-center mx-auto w-full">
  <h1 class="text-3xl font-semibold text-center text-gray-700">検索する</h1>
  <%= render 'shared/dropdown_search_form' %>
  <%= render 'shared/keyword_search_form' %>
</div>