<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <h1 class="mb-10 text-center text-3xl flex-col">ユーザー登録</h1>
      <%= render 'form', user: @user %>
      <div class='mt-5 mb-5 text-center text-sm text-gray-500 label-text-alt link link-hover'>
        <%= link_to 'ログインページへ', '#' %>
      </div>
    </div>
  </div>
</div>