<div class="mt-10 mb-14 w-full">
  <div class="mx-auto max-w-sm">
    <div class="flex flex-col text-center w-full mb-8">
      <h1 class="text-2xl font-medium font-semibold mb-4 sm:text-xl"><%= t('.title') %></h1>
    </div>
    <%= render 'form', user: @user %>
    <div class='my-5 text-center text-sm text-gray-500 label-text-alt link link-hover'>
      <%= link_to t('defaults.to_login_page'), login_path %>
    </div>
  </div>
</div>