<header>
  <div class="navbar bg-base-100">
    <div class="flex-1">
      <a class="btn btn-ghost normal-case text-xl" href="/">Find Suomi</a>
    </div>
    <div class="flex-none gap-2">
      <div class="navbar-end">
        <%= link_to t('defaults.login'), login_path ,class: 'btn btn-outline w-max h-min' %>
      </div>
    </div>
  </div>
</header>