<footer class="footer footer-center p-3 bg-base-200 text-base-content rounded">
  <div class="grid grid-flow-col gap-4">
    <%= link_to 'Home', root_path, class: 'link link-hover' %>
    <%= link_to '利用規約', terms_of_use_path, class: 'link link-hover' %>
    <%= link_to 'プライバシーポリシー', privacy_policy_path, class: 'link link-hover' %>
  </div>
  <aside>
    <p>Copyright © 2023 - Find Suomi </p>
  </aside>
</footer>