<footer class="footer footer-center p-3 bg-base-200 text-base-content rounded">
  <nav class="grid grid-flow-col gap-4">
    <a class="link link-hover">Home</a> 
    <a class="link link-hover">利用規約</a> 
    <a class="link link-hover">プライバシーポリシー</a> 
  </nav> 
  <aside>
    <p>Copyright © 2023 - Find Suomi </p>
  </aside>
</footer>