<%= form_with model: @search_facility_form, scope: :q, url: facilities_path, method: :get do |f| %>
  <div class="flex mx-3">
    <%= f.search_field :name, placeholder: '施設名 地域 キーワード', class: 'input input-bordered input-info mr-2' %>
  </div>
  <div class="actions text-center">
    <%= f.submit '検索', name: nil, class: 'btn btn-outline' %>
  </div>
<% end %>