<!-- ブックマーク一覧 -->
<div class="container px-4 mt-10 mb-14 w-full md:container md:mx-auto">
  <div class="text-center">
    <h1 class="text-2xl font-medium font-semibold mb-4 sm:text-xl"><%= t('.title') %></h1>
  </div>
  <% if @bookmark_facilities.present? %>
    <div class='font-medium text-lg text-center mb-4'>
      <%= "#{@bookmark_facilities.count}件" %>
    </div>
    <%= render partial: 'facility', collection: @bookmark_facilities %>
  <% else %>
    <div class="mt-20 text-center">
      <p><%= t('.no_result') %></p>
    </div>
  <% end %>
</div>