<div class="container sm px-4 md:container md:mx-auto">
  <!-- 施設一覧 -->
  <div class="p-3">
    <% if @facilities.present? %>
      <div class='text-center pb-4'>
        <%= "検索結果: #{@facilities.count}件" %>
      </div>
      <%= render @facilities %>
    <% else %>
      <p class='text-center pb-4'>
        該当する施設はありませんでした
      </p>
    <% end %>
  </div>
</div>