.top-wrapper {
  background-image: url('top.jpg');
  background-size: cover;
  width: 100%;
  height: 55vh;
  position: relative;
  justify-content: center;
  background-position: center center;
  align-items: center;
  display: flex;
  opacity: 0.5;
}
