<div class="row">
  <div class="flex flex-col w-5/6 justify-center mx-auto">
    <% if @reviews.present? %>
      <%= render @reviews %>
    <% else %>
      <p class="text-center">まだ口コミがありません</p>
    <% end %>
  </div>
</div>