<div class="mt-10 mb-14 w-full">
  <div class="mx-auto max-w-2xl">
    <div class="flex flex-col text-center w-full mb-8">
      <h1 class="text-2xl font-medium font-semibold mb-4 sm:text-xl"><%= t('.title') %></h1>
    </div>
    <!-- 口コミ投稿フォーム -->
    <%= render 'form', { facility: @facility, review: @review } %>
  </div>
  <%= render 'shared/back_to_previous_page' %>
</div>